# ==============================================================================
# curl runtime state
# ==============================================================================
.curl_alt_svc
.curl_hsts

# macOS
.DS_Store
